# Introducción al lenguaje Python

*Universidad Central - Maestría en Analítica de Datos*

*Carlos Isaac Zainea Maya*

## Hello World!

El primer ejemplo clásico de programación es saludar, o sea, decirle al computador que muestre un saludo.

Para esto, se usa la función de Python llamada **print**.

Para colocar un saludo (o un **texto cualquiera**), se debe colocar entre **comillas (dobles o simples)** dentro del comando print.

Entonces, para que el computador muestre un saludo, por ejemplo **Hello, World!**, debemos escribir en ambiente de código

*print("Hello World!");*

In [1]:
print("Hello World!")

Hello World!

Note que el resultado se muestra sin las comillas dobles. Estas comillas dobles se usan para decirle al computador que vamos a ingresar texto.

Si quisieramos escribir con un salto de linea escribimos "\n" así al escribir `print("hola\nmundo")` tenemos:

`hola
mundo`

In [2]:
print("hola\nmundo")

hola
mundo

### Ejercicio 1

Hacer un código que le diga al computador que devuelva el texto:
*****
>*Sólo sé ...*  
*... que nada sé.*
 ***

In [3]:
print("Sólo sé ... \n...que nada sé")

Sólo sé ...
...que nada sé

In [6]:
print("Las rosas son rojas,\nEl cielo es azul, \ny todavía no se hacer poemas.")

Las rosas son rojas,
El cielo es azul,
y todavía no se hacer poemas.

## Indentación en Python y un ejemplo básico de programación estructurada: *el condicional*

En este pequeño módulo explicaremos el funcionamiento de un condicional `si *** entonces ***` y la importancia de la identación en **Python**.

### Condicionales

Un condicional es una sentencia lógica que retorna un valor deacuerdo al valor preliminar obtenido de una regla o condición. El ejemplo más sencillo corresponde a las expresiones de la forma `si *** entonces ***` que definen una regla que retornará su valor según la condición después del si, por ejemplo:

**Si** *me saco más de 3.0* **entonces** *paso la materia*. 

> En este caso, si saco 2.5 pierdo; pero si saco 3.3 paso.
 El resultado según este condicional depende de la nota obtenida.

Un diagrama que expresa el funcionamiento de esta regla lógica es: 

![diagramadeflujo-condicional](https://desarrolloweb.com/articulos/images/algoritmos/ordinograma_si_doble.gif)

*Tomado de: [Desarrollo Web - Estructuras condicionales (https://desarrolloweb.com/articulos/2225.php)](https://desarrolloweb.com/articulos/2225.php)

### Identación 
Indentar significa **mover un bloque de texto hacia la derecha**, dejando una serie de espacios o un tabulador para distinguirlo del texto alineado a la izquierda. **Indentar** es un anglicismo, realmente se debería decir **sangrado** o aplicar **sangría**.

Por ejemplo:

> Este texto está indentado (sangrado).

En **Python**, la identación es muy importante, pues indica un **Bloque de código** bajo un operador lógico.

### Ejemplo: Condicionales en Python

Para escribir un condicional en Python usamos la siguiente estructura, debemos tener cuidado con los dos putnos y los espacios que usamos para indentar:

```
if **(la condición a validar)**:
   (al menos un espacio) **El resultado si la condición es verdadera**  
```
Por ejemplo:

In [11]:
if 1>3:
    print("Five is greater than Three")

**Sin la indentación**, el código produce un **error**:

In [14]:
if 5>3:
print("Five is greater than Three");

IndentationError: expected an indented block (<ipython-input-14-6f06bd29686c>, line 2)

No importa cuántos espacios en blanco se dejen, siempre y cuando sea **al menos uno**:

In [15]:
if 5 > 3:
 print("Five is greater than Three")  
if 5 > 3:
        print("Five is greater than Three")

Five is greater than Three
Five is greater than Three

Si la condición no se satisface entonces no se hace nada:

In [16]:
if 2 > 3:
        print("Two is greater than Three")

## Intermedio: Las expresiones booleanas

En el anterior ejemplo, después del ` if `  escribimos una condición que podía ser falsa o verdadera, este tipo de expresiones en Python se conocen como expresiones booleanas y el resultado al ejeciutar este tipo de expresiones es **Falso** o **Verdadero**.

In [18]:
True #Una expresión directa de un valor booleano

True

In [20]:
5>3 #Usando números

True

In [21]:
4<4

False

In [67]:
5!=5 ##  Pregunta si dos valores son distintos

False

In [68]:
4!=5

True

In [71]:
3==3 ##  Pregunta si dos valores son iguales

True

In [70]:
4==3

False

## If - Else
A no ser que definamos un resultado para cuando no se satisfaga la condición, usamos `else`, nuevamente observe el uso de los dos puntos y el nivel de identación de `if` y `else`:

```
if **(la condición a validar)**:
   (al menos un espacio) **El resultado si la condición es verdadera**  
else:
    (al menos un espacio) **El resultado si la condición es falsa**  
```

**Ejemplo:**

In [22]:
if 2 > 3:
    print("Two is greater than Three")
else:
    print("Two is smaller than Three")

Two is smaller than Three

In [26]:
X=input("Numero de cedula: ") ## input permite que el usuario ingrese valores en la consola

Numero de cedula:  87654321

In [28]:
X ## Es una letra que aloja el valor guardado hace un momento (variable)

'87654321'

> Observe que el input guardo el número entre comillas, esto significa que lo considera como texto, la función `int ()` permitirá que lo lea como un número entero:

In [29]:
int(X)

87654321

In [30]:
X+1 #Aquí tenemos errores porque X es texto y 1 es un número entero

TypeError: can only concatenate str (not "int") to str

In [32]:
int(X)+1 #Aquí no tenemos problemas porque int convierte mi texto en número entero

87654322

# Variables en Python

## Variables Locales:

Una variable sirve para **guardar un valor específico**, ya sea **numérico**, **texto** u otro [**Tipo de Dato**](https://www.w3schools.com/python/python_datatypes.asp) con el nombre con la que se nombre dicha variable:

In [33]:
# Asignamos 1 a la variable x

x=1;

print("El valor de la variable x es ",x);

# Asignamos "I'm ready to code!" a la variable y

y="I'm ready to code!";

print("El valor de la variable y es",y);

El valor de la variable x es  1
El valor de la variable y es I'm ready to code!

In [38]:
X

'87654321'

## Reglas de Creación de Variables:

* El nombre de una variable **debe comenzar** con una letra ó con _ .

* El nombre de una variable **no puede comenzar** con un número.

* El nombre de una variable **sólo puede contener** carácteres alfa-numéricos.

* El nombre de una variable tiene **sensibilidad** a **mayúsculas** y **minúsculas** (x es diferente de X).

### Ejercicio 2

Hacer un código que le diga al computador que devuelva los textos **Tengo** *my_age* **años**, donde *my_age* es una variable que tenga asignada su edad.

In [39]:
my_age=input("Escriba su edad:")
print("Tengo", my_age,"años")

Escriba su edad: 31

Tengo 31 años

In [40]:
my_age=25
print("Tengo",my_age, "años")

Tengo 25 años

In [45]:
my_age=input("Escriba su edad:")
my_age=float(my_age)
print("Hoy tengo", my_age,"años y en 2022 tendré", my_age+1)

Escriba su edad: 31

Hoy tengo 31.0 años y en 2022 tendré 32.0

## Mi calculadora de IVA

A partir del valor total de compra se calcula el iva y el valor del artículo sin iva:

In [46]:
Compra= input ("Escriba el valor de la compra sin IVA: ") 
Compra= float(Compra) 
print ("El total de la compra sería" , Compra*(1.19))

Escriba el valor de la compra sin IVA:  5200000

El total de la compra sería 6188000.0

### Ejemplo

El siguiente código calcula la longitud del nombre y escribe una frase acorde a la longitud. Observe que en el comando `print()` , `sep=` es un parámetro que separa los valores ingresados dentro de la función print. Como vemos, escribimos `N='Su_nombre'` eso asigna a la letra N el texto *Tu_nombre*. Cambie  `Su_nombre` por su verdadero nombre y explique  como funciona el código.

In [47]:
len('Hola')

4

In [51]:
N='Isaac'# cambiar 'Su_nombre' por su verdadero nombre
if len(N)>4:
    A="es un nombre muy largo"
else:
    A="es un nombre muy corto"

print(N,A,sep=" ")

Isaac es un nombre muy largo

Permitamos que el usuario ingrese el nombre con el comando `input()`

In [54]:
N=input('Su_nombre_completo: ') 
if len(N)>10:
    A="es un nombre muy largo"
else:
    A="es un nombre muy corto"

print(N,A,sep=" ")

Su_nombre_completo:  Isaac

Isaac es un nombre muy corto

In [55]:
N=input('Su_nombre_completo: ') 
if len(N)>10:
    A="es un nombre muy largo"
else:
    A="es un nombre muy corto"

print(N,A,sep="         ")

Su_nombre_completo:  Isaac

Isaac         es un nombre muy corto

In [65]:
20/6

3.3333333333333335

In [75]:
Ced=input("Número de Cédula: ")
Dia=input("Día")

if (int(Ced)+int(Dia))%2==0:
    A="NO PUEDE SALIR"
else:
    A="SÍ PUEDE SALIR"
    
print("Estimado usuario con cédula",Ced," El día de hoy, ",Dia)
print(A)

Número de Cédula:  1231
Día 1

Estimado usuario con cédula 1231  El día de hoy,  1
NO PUEDE SALIR

## Múltiples Asignaciones:

Es posible asignar valores a diferentes variables en una línea de código:

In [1]:
# Asignación múltiple

w, x, y, z = "Apple", "Watermelon", "Grape", 28;

print(w);
print(x);
print(y);
print(z);
print(w,x,y,z+2,sep=", ");

Apple
Watermelon
Grape
28
Apple, Watermelon, Grape, 30

In [2]:
x=complex(2,4)

In [3]:
x

(2+4j)

In [8]:
type(z)

int

In [9]:
pi=3.1415926

In [11]:
type(pi)

float

In [12]:
z

28

`type()` es un comando que nos permite determinar el tipo de variable a la que hacemos referencia.

In [ ]:
type(w)

También es posible asignar un **mismo valor** a diferentes variables:

In [14]:
# Asignación múltiple del mismo valor

x1 = x2 = x3 = 0.5;
print('x1 =',x1);
print('x2 =',x2);
print('x3 =',x3);
x2=0.4
print(" ")
print('x1 =',x1);
print('x2 =',x2);
print('x3 =',x3);

x1 = 0.5
x2 = 0.5
x3 = 0.5

x1 = 0.5
x2 = 0.4
x3 = 0.5

Cuidado con las variables no asignadas. Generan error:

In [15]:
n # Variable sin asignar

NameError: name 'n' is not defined

## Suma de Variables

Python es tan sencillo e intutivo, que es posible sumar diferentes variables y sumarlas con el símbolo **+**. Cuando las variables son numéricas, se **suman matemáticamente** y cuando es texto se **concatenan**.

In [16]:
# Sumar dos textos

x = "Python is ";
y = "awesome";
z =  x + y;
print(z);

# Sumar dos números

n1 = 1;
n2 = 5;
suma = n1 +n2;
print(suma);

# Escribir texto y números

print(x+"the number",n1);

Python is awesome
6
Python is the number 1

En el apartado anterior es claro que usamos dos tipos de variables unas textuales y otras numéricas, profundicemos en estos temas.

# Numeros

Respecto a los números en Python tenemos tres tipos de datos: los enteros (*int*), los números con parte fraccionaria (*float*) y los complejos (*complex*). La fortuna de que Python reconozca variables numéricas nos permite usarla como una calculadora simple, podemos ejecutar operaciones muy sencillas teniendo en cuenta la siguiente tabla:

| **Operador** | **Descripción** |
| :---: | :---: |
|`+`|Suma|
|`-`|Resta|
|`*`|Multiplicación|
|`/`|División|
|`**`|Potencia|

### Ejemplo 2
 Si queremos operar:
 
 $$ 5\times(3-5)^2-\cfrac{6}{(9)^{1/2}}$$
 
 tenemos que escribir:

In [17]:
5*(3-5)**2-(6)/(9**(1/2))

18.0

*Recuerde oprimir [Shift]+[Enter]*

### Ejercicio 4
Es muy importante usar bien los paréntesis, el uso o desuso puede generar problemas graves en las cuentas, encuentre el error y describa lo que hizo la máquina en los siguientes casos respecto a la operación anterior:

In [18]:
5*3-5**2-(6)/(9**(1/2))

-12.0

In [19]:
5*(3-5)**2-6/(9**1/2)

18.666666666666668

In [20]:
5*(3-5)**2-6/9**1/2

19.666666666666668

In [21]:
5*3-5**2-6/9**1/2

-10.333333333333334

In [23]:
5*4/2*10

100.0

In [25]:
complex(0,1)**2

(-1+0j)

In [28]:
i=complex(0,1)

In [29]:
3+2*i

(3+2j)

La división es una operación bien especial pues la mayoría de ocasiones produce un número con parte fraccionaria. Sin embargo, cuando estabamos pequeños nos enseñaron a dividir enteros dando como respuesta un entero llamado cociente y lo que hacia falta para completar la división, un número llamado residuo. En Python podemos calcular esos valores con `//` para el cociente y `%`para el residuo. Por ejemplo, sabemos que:

$$ 20 \div 3 = 6 \ \ \ \text{ con residuo } 2$$
tenemos:

In [30]:
20//3

6

In [31]:
20%3

2

Python Tambien reconoce los números complejos. El valor imaginario se lo asigna a la letra `j`

In [32]:
3+(-4)**(1/2) # Recordemos un poquito de nuestras matemáticas

(3+2j)

Finalmente, una función elemental y util para el tratamiento de números decimales es `round`. Lo usamos para redodendear los valores a uno con el decimal que escojamos. Tenemos:

In [33]:
n1=47/3
n1

15.666666666666666

In [34]:
n2=round(n1)
n2

16

In [35]:
n3=round(n1,3)
n3

15.667

In [37]:
(4)**(1/2)

2.0

## Paquete math

El paquete math de Python nos da acceso a las funciones matemáticas elementales definas en C.

In [38]:
import math as m

In [39]:
m.factorial(5)

120

In [40]:
m.gcd(18,24)

6

In [44]:
help(m)

Help on module math:

NAME
    math

MODULE REFERENCE
    https://docs.python.org/3.8/library/math

    The following documentation is automatically generated from the Python
    source files.  It may be incomplete, incorrect or include features that
    are considered implementation detail and may vary between Python
    implementations.  When in doubt, consult the module reference at the
    location listed above.

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(x, y, /)
        greatest common divisor of x and y

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    /home/isaac/anaconda3/lib/python3.8/lib-dynload/math.cpython-38-x86_64-linux-gnu.so

In [49]:
dir()

['In',
 'Out',
 '_',
 '_11',
 '_12',
 '_17',
 '_18',
 '_19',
 '_20',
 '_21',
 '_22',
 '_23',
 '_24',
 '_25',
 '_29',
 '_3',
 '_30',
 '_31',
 '_32',
 '_33',
 '_34',
 '_35',
 '_37',
 '_39',
 '_40',
 '_45',
 '_46',
 '_47',
 '_48',
 '_5',
 '_6',
 '_7',
 '_8',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i42',
 '_i43',
 '_i44',
 '_i45',
 '_i46',
 '_i47',
 '_i48',
 '_i49',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'exit',
 'get_ipython',
 'i',
 'm',
 'n1',
 'n2',
 'n3',
 'pi',
 'quit',
 'suma',
 'w',
 'x',
 'x1',
 'x2',
 'x3',
 'y',
 'z']

In [48]:
dir(m)

['__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

## Textos

Los textos son expresiones que representan una cadena de caracteres, utiles para escribir mensajes y combinarlos con valores que generemos en nuestros procesamientos. Para escribi un texto en Python usamos comillas simples: `'...'` o comillas dobles: `"..."`. Combinamos comillas para poner comillas adentro:

In [50]:
a='Texto simple escrito entre comillas simples'
print(a)
a

Texto simple escrito entre comillas simples

'Texto simple escrito entre comillas simples'

In [51]:
b="Texto simple escrito entre comillas dobles"
print(b)
b

Texto simple escrito entre comillas dobles

'Texto simple escrito entre comillas dobles'

In [52]:
c='Texto simple escrito entre comillas simples que necesita "adentrico" comillas dobles'
print(c)
c

Texto simple escrito entre comillas simples que necesita "adentrico" comillas dobles

'Texto simple escrito entre comillas simples que necesita "adentrico" comillas dobles'

In [55]:
d="Texto simple escrito entre comillas dobles que necesita 'adentrico' comillas simples"
print(d)
d

Texto simple escrito entre comillas dobles que necesita 'adentrico' comillas simples

"Texto simple escrito entre comillas dobles que necesita 'adentrico' comillas simples"

Como vimos, la función print es la que nos permite imprimir estos mensajes. El texto \n indica una nueva linea en el texto:

In [56]:
print("Una línea\notra línea")

Una línea
otra línea

No obstante, a veces necesitamos escribir  \n en un mensaje:

In [57]:
print('La ruta del archivo es C:\nombres\archivo.ipynb')

La ruta del archivo es C:
ombresrchivo.ipynb

En este caso la aparición de \ daño el mensaje, para resolver el problema escribimos r antes:

In [58]:
print(r'La ruta del archivo es C:\nombres\archivo.ipynb')

La ruta del archivo es C:\nombres\archivo.ipynb

Finalmente, podemos recorrer los valores de la cadena de texto de la siguiente forma:

In [59]:
texto="cuidado con el orden"

In [60]:
texto[0]

'c'

In [61]:
texto[1]

'u'

In [62]:
texto[3]

'd'

In [63]:
texto[7]

' '

In [64]:
texto[10]

'n'

In [65]:
texto[0:5]

'cuida'

In [66]:
texto[5:9]

'do c'

Observe que en la secuencia `[m:n]` Python inicia en el m-ésimo valor y termina en el (n-1)-ésimo valor.

In [67]:
texto[-1]

'n'

In [69]:
texto[-3]

'd'

In [70]:
texto[4:]

'ado con el orden'

In [71]:
texto[:4]

'cuid'

In [72]:
list(texto)

['c',
 'u',
 'i',
 'd',
 'a',
 'd',
 'o',
 ' ',
 'c',
 'o',
 'n',
 ' ',
 'e',
 'l',
 ' ',
 'o',
 'r',
 'd',
 'e',
 'n']

In [73]:
texto.split()

['cuidado', 'con', 'el', 'orden']

## Listas 

Tambien podemos crear listas y arreglos en Python usando `[ ... ]`, los elementos de la lista se separan por comas.

In [74]:
primos=[2,3,5,7,11,13,17,19]

In [75]:
len(primos)

8

Igual que las cadenas de texto se pueden explorar los elementos usando `nombredelalista[pos] `, donde pos es la posición del elemento.

In [76]:
primos[0] #0 siempre denota al primer elemento

2

In [77]:
primos[5]

13

In [78]:
primos [-6]

5

In [79]:
primos[8]

IndexError: list index out of range

se pueden adicionar elementos a la lista con la función `nombredelalista.append() `

In [80]:
type(primos)

list

In [81]:
print("Antes: ", primos)
primos.append(23)
print("Después: ", primos)

Antes:  [2, 3, 5, 7, 11, 13, 17, 19]
Después:  [2, 3, 5, 7, 11, 13, 17, 19, 23]

Así mismo, los elemento se pueden modificar:

In [82]:
print("Antes: ",primos)
primos[0]=1
print("Después: ",primos)

Antes:  [2, 3, 5, 7, 11, 13, 17, 19, 23]
Después:  [1, 3, 5, 7, 11, 13, 17, 19, 23]

o eliminar:

In [83]:
print("Antes: ",primos)
primos[0:5]=[]
print("Después: ",primos)

Antes:  [1, 3, 5, 7, 11, 13, 17, 19, 23]
Después:  [13, 17, 19, 23]

In [90]:
primos10=[2,3,5,7]
primos1020=[11,13,17,19]
primos2030=[23,29]

In [91]:
primos1020.extend(primos2030)
print(primos1020)

[11, 13, 17, 19, 23, 29]

In [92]:
primos10.extend(primos1020)
print(primos10)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

In [93]:
primos.append(17)
primos

[13, 17, 19, 23, 17]

In [94]:
primos.index(17)

1

In [95]:
primos.remove(17)

In [96]:
primos

[13, 19, 23, 17]

In [97]:
primos.append()

TypeError: append() takes exactly one argument (0 given)

In [98]:
primos

[13, 19, 23, 17]

También se hacen listas de listas, se conocen como arreglos y si todas las listas tienen la misma cantidad de elementos las llamamos matrices:

In [99]:
Cel=[[7,8,9],[4,5,6],[1,2,3]]

In [100]:
print(Cel)

[[7, 8, 9], [4, 5, 6], [1, 2, 3]]

In [101]:
Cel[0]

[7, 8, 9]

In [102]:
Cel[0][0]

7

In [103]:
Saludo=["Hola","Qué tal"]
Despido=["Adios","Feliz día"]

In [104]:
Saludo

['Hola', 'Qué tal']

In [105]:
Saludo[0]

'Hola'

In [106]:
Despido[1]

'Feliz día'